USE [master]
GO
/****** Object:  Database [PetShop]    Script Date: 28/11/2024 2:53:47 CH ******/
CREATE DATABASE [PetShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PetShop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PetShop.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PetShop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PetShop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PetShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PetShop]
GO
/****** Object:  Table [dbo].[Authorities]    Script Date: 28/11/2024 2:53:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authorities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NULL,
	[RoleId] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderProductDetails]    Script Date: 28/11/2024 2:53:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderProductDetails](
	[OrderProductDetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[ReviewStatus] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderProductDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 28/11/2024 2:53:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[OrderDate] [date] NOT NULL,
	[ShippingAddress] [nvarchar](255) NULL,
	[TotalAmount] [int] NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[Enable] [bit] NOT NULL,
	[OrderStatusID] [int] NOT NULL,
	[PaymentStatusID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatus]    Script Date: 28/11/2024 2:53:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatus](
	[OrderStatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentStatus]    Script Date: 28/11/2024 2:53:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentStatus](
	[PaymentStatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusPayment] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PetCategory]    Script Date: 28/11/2024 2:53:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PetCategory](
	[PetCategoryID] [int] IDENTITY(1,1) NOT NULL,
	[PetCategoryName] [nvarchar](255) NOT NULL,
	[Photo] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PetCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pets]    Script Date: 28/11/2024 2:53:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pets](
	[PetID] [varchar](50) NOT NULL,
	[Breed] [nvarchar](255) NOT NULL,
	[Age] [int] NOT NULL,
	[Gender] [bit] NOT NULL,
	[Price] [int] NOT NULL,
	[PetDescription] [nvarchar](255) NOT NULL,
	[Photo] [varchar](255) NOT NULL,
	[Famous] [nvarchar](255) NOT NULL,
	[Hair] [nvarchar](255) NOT NULL,
	[Enable] [bit] NOT NULL,
	[Available] [bit] NOT NULL,
	[PetCategoryID] [int] NOT NULL,
	[CreateDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategory]    Script Date: 28/11/2024 2:53:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategory](
	[ProductCategoryID] [int] IDENTITY(1,1) NOT NULL,
	[ProductCategoryName] [nvarchar](255) NOT NULL,
	[Photo] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 28/11/2024 2:53:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](255) NOT NULL,
	[Price] [int] NOT NULL,
	[Photo] [varchar](255) NOT NULL,
	[Available] [bit] NOT NULL,
	[Quantity] [int] NOT NULL,
	[ProductDescription] [nvarchar](255) NOT NULL,
	[ProductCategoryID] [int] NOT NULL,
	[CreateDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 28/11/2024 2:53:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[Comment] [nvarchar](255) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[ProductID] [int] NOT NULL,
	[Rating] [int] NULL,
	[ReviewDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 28/11/2024 2:53:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [varchar](50) NOT NULL,
	[Name] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SliderBar]    Script Date: 28/11/2024 2:53:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SliderBar](
	[SliderId] [int] IDENTITY(1,1) NOT NULL,
	[SliderImage] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SliderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subscription]    Script Date: 28/11/2024 2:53:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subscription](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PhoneNumber] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 28/11/2024 2:53:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserName] [varchar](50) NOT NULL,
	[UserPassword] [nvarchar](100) NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[PhoneNumber] [nvarchar](20) NOT NULL,
	[UserAddress] [nvarchar](255) NOT NULL,
	[Enable] [bit] NOT NULL,
	[ActiveToken] [varchar](200) NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[TemporaryGUID] [varchar](225) NULL,
	[TempGuidExpir] [datetime] NULL,
	[IsDelete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 28/11/2024 2:53:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher](
	[VoucherID] [varchar](50) NOT NULL,
	[Discount] [int] NOT NULL,
	[ExpiryDate] [date] NOT NULL,
	[Enable] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VoucherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Authorities] ON 

INSERT [dbo].[Authorities] ([Id], [UserName], [RoleId]) VALUES (33, N'nhathoang', N'ADMIN')
INSERT [dbo].[Authorities] ([Id], [UserName], [RoleId]) VALUES (34, N'vietanh', N'ADMIN')
INSERT [dbo].[Authorities] ([Id], [UserName], [RoleId]) VALUES (35, N'trongphuc', N'ADMIN')
SET IDENTITY_INSERT [dbo].[Authorities] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderStatus] ON 

INSERT [dbo].[OrderStatus] ([OrderStatusID], [StatusName]) VALUES (1, N'Đang xử lý')
INSERT [dbo].[OrderStatus] ([OrderStatusID], [StatusName]) VALUES (2, N'Đã xác nhận')
INSERT [dbo].[OrderStatus] ([OrderStatusID], [StatusName]) VALUES (3, N'Đang vận chuyển')
SET IDENTITY_INSERT [dbo].[OrderStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentStatus] ON 

INSERT [dbo].[PaymentStatus] ([PaymentStatusID], [StatusPayment]) VALUES (1, N'Chưa thanh toán')
INSERT [dbo].[PaymentStatus] ([PaymentStatusID], [StatusPayment]) VALUES (2, N'Thanh toán thành công')
SET IDENTITY_INSERT [dbo].[PaymentStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[PetCategory] ON 

INSERT [dbo].[PetCategory] ([PetCategoryID], [PetCategoryName], [Photo]) VALUES (22, N'Loài chó', N'dogs.webp')
INSERT [dbo].[PetCategory] ([PetCategoryID], [PetCategoryName], [Photo]) VALUES (23, N'Loài Mèo', N'cats.webp')
SET IDENTITY_INSERT [dbo].[PetCategory] OFF
GO
INSERT [dbo].[Pets] ([PetID], [Breed], [Age], [Gender], [Price], [PetDescription], [Photo], [Famous], [Hair], [Enable], [Available], [PetCategoryID], [CreateDate]) VALUES (N'Cats-Golden', N'Golden', 2, 0, 5500000, N'Mèo Golden, hay còn gọi là mèo Anh lông ngắn Golden, nổi bật với bộ lông vàng óng, đôi mắt to tròn và vẻ ngoài dễ thương. Chúng hiền lành, thân thiện, thích gần gũi con người, và rất dễ chăm sóc, trở thành lựa chọn lý tưởng cho các gia đình yêu mèo.', N'Golden.webp', N'Vàng', N'Ngắn', 1, 1, 23, CAST(N'2024-11-27T09:51:57.053' AS DateTime))
INSERT [dbo].[Pets] ([PetID], [Breed], [Age], [Gender], [Price], [PetDescription], [Photo], [Famous], [Hair], [Enable], [Available], [PetCategoryID], [CreateDate]) VALUES (N'Cats-Munchkin', N'Munchkin', 2, 0, 4500000, N'Munchkin là giống mèo nổi tiếng với đôi chân ngắn, dáng vẻ dễ thương và lém lỉnh. Chúng thông minh, nghịch ngợm, thân thiện và rất thích chơi đùa, là bạn đồng hành tuyệt vời cho gia đình.', N'Munchkin.webp', N'Trắng', N'Ngắn', 1, 1, 23, CAST(N'2024-11-27T09:55:36.517' AS DateTime))
INSERT [dbo].[Pets] ([PetID], [Breed], [Age], [Gender], [Price], [PetDescription], [Photo], [Famous], [Hair], [Enable], [Available], [PetCategoryID], [CreateDate]) VALUES (N'Cats-Ragdoll', N'Ragdoll', 3, 0, 5500000, N'Ragdoll là giống mèo lớn, lông dài, mềm mại và có tính cách dịu dàng, thân thiện. Chúng rất thích được ôm ấp, dễ gần và thường đi theo chủ, là bạn đồng hành lý tưởng cho gia đình.', N'Ragdoll.webp', N'Trắng', N'Dài', 1, 1, 23, CAST(N'2024-11-27T09:56:15.537' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[ProductCategory] ON 

INSERT [dbo].[ProductCategory] ([ProductCategoryID], [ProductCategoryName], [Photo]) VALUES (21, N'Sữa tắm | Dầu gội', N'suaTamDauGoi.webp')
INSERT [dbo].[ProductCategory] ([ProductCategoryID], [ProductCategoryName], [Photo]) VALUES (23, N'Pate | Snack | Súp thưởng', N'pateSnackSupThuong.webp')
INSERT [dbo].[ProductCategory] ([ProductCategoryID], [ProductCategoryName], [Photo]) VALUES (24, N'Thức ăn hạt', N'thucAnHat.webp')
SET IDENTITY_INSERT [dbo].[ProductCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [ProductName], [Price], [Photo], [Available], [Quantity], [ProductDescription], [ProductCategoryID], [CreateDate]) VALUES (50, N'Vòng Cổ Cho Chó Lớn Bằng Da PAW', 30000, N'vongCo01.webp', 1, 10, N'Vòng cổ da bền chắc, thiết kế sang trọng, phù hợp cho chó lớn, mang lại sự thoải mái và phong cách.', 27, CAST(N'2024-11-27T13:38:31.073' AS DateTime))
INSERT [dbo].[Products] ([ProductID], [ProductName], [Price], [Photo], [Available], [Quantity], [ProductDescription], [ProductCategoryID], [CreateDate]) VALUES (51, N'Vòng Cổ Cho Chó Mèo Hình Dâu Tây', 32000, N'vongCo04.webp', 1, 10, N'Vòng cổ đáng yêu, họa tiết dâu tây ngộ nghĩnh, nhẹ nhàng và dễ điều chỉnh, phù hợp cho cả chó và mèo.', 27, CAST(N'2024-11-27T13:38:58.280' AS DateTime))
INSERT [dbo].[Products] ([ProductID], [ProductName], [Price], [Photo], [Available], [Quantity], [ProductDescription], [ProductCategoryID], [CreateDate]) VALUES (52, N'Vòng Cổ Cho Chó Mèo Có Thể Sạc Lại, Kết Nối Bluetooth, Chạy Chữ Đèn LED', 55000, N'vongCo02.webp', 1, 10, N'Vòng cổ hiện đại, tích hợp đèn LED chạy chữ, kết nối Bluetooth, có thể sạc lại, tiện lợi và nổi bật.', 27, CAST(N'2024-11-27T13:39:21.570' AS DateTime))
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([ReviewID], [Comment], [UserName], [ProductID], [Rating], [ReviewDate]) VALUES (1, N'Sản phẩm tuyệt vời, rất hài lòng với chất lượng!', N'hoanghien', 50, 5, CAST(N'2024-11-28T13:52:32.970' AS DateTime))
INSERT [dbo].[Reviews] ([ReviewID], [Comment], [UserName], [ProductID], [Rating], [ReviewDate]) VALUES (2, N'Sản phẩm tốt, nhưng giao hàng bị trễ.', N'minhtam', 55, 4, CAST(N'2024-11-28T13:52:32.970' AS DateTime))
INSERT [dbo].[Reviews] ([ReviewID], [Comment], [UserName], [ProductID], [Rating], [ReviewDate]) VALUES (3, N'Không như mong đợi, kích thước quá nhỏ.', N'nhathoang', 60, 3, CAST(N'2024-11-28T13:52:32.970' AS DateTime))
SET IDENTITY_INSERT [dbo].[Reviews] OFF
GO
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (N'ADMIN', N'ROLE_ADMIN')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (N'STAFF', N'ROLE_STAFF')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (N'USER', N'ROLE_USER')
GO
INSERT [dbo].[Users] ([UserName], [UserPassword], [FullName], [Email], [PhoneNumber], [UserAddress], [Enable], [ActiveToken], [DateCreated], [TemporaryGUID], [TempGuidExpir], [IsDelete]) VALUES (N'hoanghien', N'$2a$10$47CffrvVemaG63Mif2wTxO8GJw4rg0p7y5D/rpgrF3t2WTV8ZRTYO', N'Lê Hoàng Hiền', N'hienlhpsps31008@fpt.edu.vn', N'0303123123', N'Quận 2, Thành phố Hồ Chí Minh', 1, N'9fd39819-ff37-447e-9e60-efcd48cb6712', CAST(N'2024-11-16T19:40:20.467' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[Users] ([UserName], [UserPassword], [FullName], [Email], [PhoneNumber], [UserAddress], [Enable], [ActiveToken], [DateCreated], [TemporaryGUID], [TempGuidExpir], [IsDelete]) VALUES (N'minhtam', N'$2a$10$HzcYYPrajQmXBhGMKCizV.YrI1uDrCFhSMCpVS3N3cLkweiSkCZ4y', N'Đỗ Minh Tâm', N'tamdmps36365@fpt.edu.vn', N'0808123123', N'Quận 12, Thành phố Hồ Chí Minh', 1, N'9fd39819-ff37-447e-9e60-efcd48cb6712', CAST(N'2024-11-16T19:40:20.467' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[Users] ([UserName], [UserPassword], [FullName], [Email], [PhoneNumber], [UserAddress], [Enable], [ActiveToken], [DateCreated], [TemporaryGUID], [TempGuidExpir], [IsDelete]) VALUES (N'nhathoang', N'$2a$10$mGjV38DI7LIwL5axoJV0NOYPmHJiPOG9orQxIu589UmM2aboS5cXe', N'Phạm Nhật Hoàng', N'hoangpnps30696@fpt.edu.vn', N'0365068759', N'Quận Gò Vấp, Thành phố Hồ Chí Minh', 1, N'9fd39819-ff37-447e-9e60-efcd48cb6712', CAST(N'2024-11-16T19:40:20.467' AS DateTime), NULL, NULL, NULL)
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Authorities]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Authorities]  WITH CHECK ADD FOREIGN KEY([UserName])
REFERENCES [dbo].[Users] ([UserName])
GO
ALTER TABLE [dbo].[OrderProductDetails]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderProductDetails]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([OrderStatusID])
REFERENCES [dbo].[OrderStatus] ([OrderStatusID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([PaymentStatusID])
REFERENCES [dbo].[PaymentStatus] ([PaymentStatusID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([UserName])
REFERENCES [dbo].[Users] ([UserName])
GO
ALTER TABLE [dbo].[Pets]  WITH CHECK ADD FOREIGN KEY([PetCategoryID])
REFERENCES [dbo].[PetCategory] ([PetCategoryID])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([ProductCategoryID])
REFERENCES [dbo].[ProductCategory] ([ProductCategoryID])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([UserName])
REFERENCES [dbo].[Users] ([UserName])
GO
USE [master]
GO
