<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/admin/index.html::admin(~{::body})}">
<html>

<head>
<meta charset="UTF-8">
<title>Admin - Gửi Email</title>

<style>
.email-list {
	max-height: 400px;
	overflow-y: auto;
}
</style>
</head>

<body>
	<h1>Trang quản trị - Gửi Email</h1>

	<!-- <h2>Danh sách email đã đăng ký</h2>
	<ul class="email-list">
        <li th:each="subscription : ${subscriptions}">
            <span th:text="${subscription.email}"></span>
        </li>
    </ul> -->

	<!-- Form để gửi email -->
	<form th:action="@{/admin/send}" method="post">
		<label for="subject">Tiêu đề:</label> <input type="text" id="subject"
			name="subject" required><br> <label for="contentEditor">Nội
			dung:</label><br>
		<textarea id="contentEditor" name="content"></textarea>
		<br>

		<button type="submit">Gửi email</button>
	</form>
</body>

</html>